@font-face {
    font-family: "Sahel";
    src: url("../fonts/Sahel.eot"),
    url("../fonts/Sahel.woff") format("woff"),
    url("../fonts/Sahel.ttf") format("truetype");
}

@font-face {
    font-family: "Lobster";
    src: url("../fonts/LobsterTwo-Regular.ttf") format("truetype");
}

:root {
    --font-sahel: "Sahel", sans-serif;
    --font-lobster: "Lobster", sans-serif;
    --color-primary: #D77A61;
    --color-secondary: #E6E6E6FF;
    --color-tertialy: #D3D3D8;
    --color-dark: #223843;
    --color-light: #EFF1F3;
}

body {
    font-family: var(--font-sahel);
    background-color: var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    padding: 0 30px;
    overflow: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

img:hover {
    opacity: 0.9;
}

nav {
    background-color: var(--color-dark);
    font-size: 18px;
    margin-bottom: 60px;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 100px;
}

.logo {
    width: 120px;
    height: 120px;
}

.name {
    font-size: 40px;
    font-family: var(--font-lobster);
    color: var(--color-primary);
}

.nav-menu {
    display: flex;
    flex-wrap: wrap;
}

.nav-menu a {
    margin-left: 20px;
    color: var(--color-primary);
    transition: color 0.8s;
}

.nav-menu a:hover {
    color: var(--color-light);
}

.nav-menu label {
    color: var(--color-primary);
    cursor: pointer;
    transition: color 0.8s;
}

.nav-menu label:hover {
    color: var(--color-light);
}

.categories-container {
    display: none;
    width: 25vw;
    background-color: rgba(215, 122, 97, 0.7);
    z-index: 10;
    padding: 10px;
    position: absolute;
    margin-top: 5px;
    border-radius: 5px;
}

#category-check:checked ~ .categories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.categories-container a {
    color: var(--color-light);
    border-bottom: 2px solid transparent;
    transition: all 0.8s;
}

.categories-container a:hover {
    border-bottom: 2px solid var(--color-light);
}

.categories-container .bi-diamond-fill {
    font-size: 8px;
}

.nav-left {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

#search {
    width: 15vw;
    margin-left: 30px;
    padding: 5px 10px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: var(--color-light);
    font-family: var(--font-sahel);
    transition: all 0.5s;
}

#search:focus {
    box-shadow: 0 0 3px 3px var(--color-primary);
}

.login {
    margin-left: 15px;
}

.sign-in, .login {
    color: var(--color-primary);
    transition: color 0.8s;
}

.login:hover, .sign-in:hover {
    color: var(--color-light);
}

header {
    margin-bottom: 60px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px 0;
}

.header-image {
    width: 60%;
    position: relative;
    display: flex;
}

.header-image .tag {
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-news {
    width: 35%;
}

.news {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 16px;
    border-radius: 8px;
    background-color: var(--color-secondary);
    margin-bottom: 20px;
}

.news img {
    border-radius: 0 8px 8px 0;
}

.news:hover {
    box-shadow: 0 0 3px 3px var(--color-tertialy);
}

.news:last-child {
    margin-bottom: 0;
}

.news-image {
    grid-column: span 3;
    border-radius: 0 8px 8px 0;
}

.news-image a {
    height: 100%;
}

.news-text-container {
    grid-column: span 4;
    padding: 10px 0 10px 15px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.news-header-text, .news-text {
    color: var(--color-dark);
    transition: all 0.8s;
}

.news-text {
    text-align: justify;
    font-size: 15px;
}

.news-header-text:hover {
    color: var(--color-primary);
}

.tag {
    background-color: var(--color-tertialy);
    color: var(--color-primary);
    padding: 5px 8px;
    border-radius: 50px;
    font-size: 14px;
    transition: all 0.8s;
}

.tag:hover {
    background-color: var(--color-primary);
    color: var(--color-tertialy);
}

.main-container {
    display: flex;
    justify-content: space-between;
}

.main-news {
    width: 60%;
}

aside {
    width: 35%;
}

.side-image {
    background-color: var(--color-secondary);
    border-radius: 8px;
    margin-bottom: 60px;
}

.side-image img {
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.side-image figcaption {
    padding: 10px;
}

.side-image:hover {
    box-shadow: 0 0 3px 3px var(--color-tertialy);
}

.advertise img {
    height: 90px;
    margin-bottom: 30px;
}